# Data Science Tools and Ecosystem

## Introduction
In this notebook, we will explore various tools, libraries, and concepts used in Data Science. This includes popular programming languages, libraries, tools, and examples of arithmetic expressions.

## Data Science Languages
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Data Science Libraries
- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- PyTorch

## Data Science Tools
| Tool             | Description                             |
|------------------|-----------------------------------------|
| Jupyter Notebook | Interactive environment for coding      |
| RStudio          | IDE for R programming                  |
| Apache Spark     | Big data processing framework          |
| Tableau          | Data visualization and business insights |
| MATLAB           | Numerical computing environment        |

## Arithmetic Expression Examples
Arithmetic expressions are used to perform mathematical operations like addition, subtraction, multiplication, and division.

In [16]:
# Multiplying and adding numbers
result = (5 * 3) + 7
print("The result of the expression is:", result)

The result of the expression is: 22

In [18]:
# Converting minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

## Objectives
- Understand key Data Science languages and libraries.  
- Learn about various tools used in Data Science.  
- Perform basic arithmetic operations using Python.  
- Convert time units using Python code.

## Author
Shruti Deshmane